.banner {
	background-image: url(https://static.experimentalplayers.org/banner.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	font-family: "Bebas Neue";
}

.is-neon {
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.219);
}

.is-0 {
	font-size: 50px;
}

.section-button {
	border-radius: 0;
}

@media screen and (min-width: 590px) {
	.is-0 {
		font-size: 100px;
	}
}